<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Share cookie</h1>
    <div class="form-group">
      <label for="text">Text<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="text" placeholder="Text" required>
    </div>
    <div class="form-group">
      <label for="category">Category<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="category" placeholder="Category" required>
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image" placeholder="Image URL">
    </div>
    <button class="btn btn-success" id="share">Share</button>
  </div>
</div>
